@import url("css/build/akvo_style.css");

/*
@import url("css/x_reset.css");
@import url("css/x_grid.css");
@import url("css/x_base.css");
@import url("css/x_main_nav.css");
@import url("css/x_typography.css");
@import url("css/x_utils.css");


#navlist {
  font-size: 1.0em;
  padding: 0 0.8em 1.2em 0; 
  color: #9cf;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0; 
  font-size: 0.8em;
  color: #9cf;
}
#subnavlist a {
  font-weight: bold;
  color: #9cf;
}
ul.links li {
  border-left: 1px solid #9cf; 
}
ul.links li.first {
  border: none;
}

.breadcrumb {
    font-size:0.75em;
    padding-left:20px;
}
*/