td { border:none;}

table {
    /*
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    */
    border:none;
    }


blockquote {
    background-color: #fef9db;
    padding:8px;
    margin:20px 30px 20px;
    border:none;
    }

code {
    background-color:#fef9db;
    line-height:1.5em;
    margin:20px 30px 20px;
    padding:10px;
    }
